@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Exo:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');

/*------------------------------------------------General */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*------------------------------------------------Navbar */

.navbar-text {
    font-size: 20px;
}

/*------------------------------------------------Section */
.profile-pic {
    max-height: 200px;
    float: left;
}

.section-heading {
    margin-top: 30px;
    margin-bottom: 50px;
    color: rgba(107, 113, 121, 0.884)
}

.special-heading {
    text-align: center;
    margin-top: 40px;
}

.skills-list-item {
   color: red;
   background: blue;
   margin: auto;
}

/*------------------------------------------------Footer*/

footer {
    background-color: #5f5663d0;
    color:#fafafa;
    min-height: 120px;
    font-family: sans-serif;
}

.general-sub {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #8ebadfe0;
}


/*------------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .general-sub {
        text-align: left;
    }
}

@media(max-width: 768px) {
    .profile-pic {
        display: block;
        margin: 30px auto 0px auto;
        float: none;
    }
}


