@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Exo:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');

/*------------------------------------------------General */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*------------------------------------------------Navbar */

.navbar-text {
    font-size: 20px;
}

/*------------------------------------------------Jumbotron */
.profile-pic {
    max-height: 200px;
    float: left;
}

.jumbotron-text {
    margin-top: 30px;
    margin-bottom: 50px;
    color: rgba(107, 113, 121, 0.884)
}

/*------------------------------------------------Four Skills Headings*/

.special-heading {
    text-align: center;
    margin-top: 40px;
    color: rgba(107, 113, 121, 0.884);
}

.sub-images {
    height: 230px;
    width: 230px;
}

.four-skill-headings {
    color: rgba(107, 113, 121, 0.884);
    margin-top: 50px;
    margin-bottom: 50px;
}

/*------------------------------------------------Footer*/

footer {
    background-color: #a3a8b8b7;
    color:#fafafa;
    min-height: 150px;
    font-family: sans-serif;
}

.general-sub {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #8ebadfe0;
}

/*------------------------------------------------Contact Form*/

.contact-heading {
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    color: rgba(107, 113, 121, 0.884);
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #8ebadfe0;
}

/*------------------------------------------------About Content*/

.five-about-columns {
    display: inline;
}

/*------------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .general-sub {
        text-align: left;
    }
}

@media(max-width: 768px) {
    .profile-pic {
        display: block;
        margin: 30px auto 0px auto;
        float: none;
    }
}

@media(max-width: 768px) {
    .four-skill-headings {
        display: block;
    }
}

@media(max-width: 576px) {
    .three-footer-columns {
        display: block;
    }
}

@media(max-width: 768px) {
    .sub-headings {
        text-align: center;
        display: inline-block;
    }
}





